<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<link href="/static/css/reglogin.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="main">
		<div class="header" >
			<h1>Login!</h1>
		</div>
		<p></p>
			<form action="/login.html" method="post">
                {% csrf_token %}
				<ul class="right-form">
					<h2>登录:</h2>
					<li>{{ loginform.username }}{{ loginform.errors.username.0 }}</li>
					<li>{{ loginform.password }}{{ loginform.error.password.0 }}</li>
					<input type="submit" value="登录" >
                    <input type="button" value="注册" onclick="toreg()">
					<div class="clear"> </div>
				</ul>
                <span style="color: red">{{ errormsg }}</span>
				<div class="clear"></div>

			</form>
	</div>
    <script src="/static/js/jquery.min.js"></script>
    <script>
        function toreg() {
            window.location.href="regist.html"
        }
    </script>
<script></script>
</body>
</html>