<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugin/bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body style="background-color: #eee">
{% include 'header.html' %}
<div style="width: 500px; height:500px;margin: 0 auto;background-color: white;padding: 50px">

    <p align="center"><img src="/upload/{{ uinfo.avatar }}" alt="头像" class="img-circle"
                           style="width: 80px;height: 80px;"></p>
    {% if request.session.userinfo.0.user_id == uinfo.uid %}
        <p align="center">
            <a href>关注（0）</a>
            <a href="">粉丝（0）</a>
        </p>
    {% else %}
        <p align="center">
            <a class="btn btn-default" href="" style="color: white;background-color:palevioletred">
                <span class="glyphicon glyphicon-heart" style="line-height: 15px" aria-hidden="true"></span>&nbsp;<span>关注</span>
            </a>
        </p>
    {% endif %}
    <div class="form-group">
        <label class="col-sm-3 control-label">昵称</label>
        <div class="col-sm-9">
            <p class="form-control-static">
                {% if uinfo.nickname == None or uinfo.nickname == "" %}
                    未填
                {% else %}
                    {{ uinfo.nickname }}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">性别</label>
        <div class="col-sm-9">
            <p class="form-control-static">{% if uinfo.sex == 1 %}男
            {% else %}
                女
            {% endif %}
            </p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">个人简介</label>
        <div class="col-sm-9">
            <div class="form-control-static">
                                {% if uinfo.intro == None or uinfo.intro == "" %}
                    这个人太懒了，什么都没有写
                {% else %}
                    {{ uinfo.intro }}
                {% endif %}
            </div>
        </div>
    </div>
{% if request.session.userinfo.0.user_id == uinfo.uid %}
    <p align="center"><a href="/update_user/" class="btn btn-primary">更新信息</a></p>
{% endif %}
    {% if request.session.userinfo.0.user_id == uinfo.uid %}

        <a href="">查看博文</a>
{% endif %}
</div>
</body>
</html>